$material-light: ( cards: blue );
//$body-font-family: 'Work Sans', serif;
$font-size-root: 5px;
//$color_new: red;
$material-light: map-merge($material-light, (
  'background': black
));

:root {
  --test-var: 'test-var';
}